@import "styles.scss";

.password-input-wrapper {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  margin-top: 10px;

  input {
    height: 25px;
    min-width: 275px;
    border-radius: 3px;
    border: 1px solid $primary-bg-color;
    &:focus,
    &:active {
      outline: none;
      border: 2px solid $primary-bg-color;
    }
  }
  .password-input-error {
    margin-top: 3px;
    color: $orange-bg-color;
  }
}
