<div class="password-input-wrapper">
  <div>
    <label [for]="passwordInputId">{{ passwordInputLabel }}</label>
  </div>
  <div>
    <input
      type="password"
      [id]="passwordInputId"
      [formControl]="passwordInputControl"
    />
  </div>
  <ng-container
    *ngIf="
      passwordInputControl.invalid &&
      (passwordInputControl.touched || passwordInputControl.dirty)
    "
  >
    <div
      class="password-input-error"
      *ngFor="let err of passwordInputControl.errors | keyvalue"
    >
      {{ errorMessages[err.key] }}
    </div>
  </ng-container>
</div>
