@import "styles.scss";

.app-container {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

header {
  margin: 0;
  height: 100px;
  background-color: $primary-bg-color;
  box-sizing: border-box;
  padding: 1px 20px 1px 20px;
  top: 0;
  position: sticky;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

main {
  padding: 20px 10px 20px 10px;
  background-color: $secondary-bg-color;
  min-height: 600px;
  .content-area {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
