@import "styles.scss";

ul.nav-link-container {
  li {
    display: inline-block;
    margin-left: 5px;
    a {
      color: $primary-text-color;
      text-decoration: none;
      &:hover,
      &:active {
        color: $orange-bg-color;
      }
    }
  }
}
